{% extends "layout.html" %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "macros/_security_macros.html" import render_field_with_bootstrap_errors %}


{% block content %}

<div class="row">
    <div class="col-md-6">
        <h1>{{ _('Login') }}</h1>

        {% include "security/_messages.html" %}

        <form
            action="{{ url_for_security('login') }}"
            method="POST"
            name="login_user_form"
        >
            {{ login_user_form.hidden_tag() }}
            {{ render_field_with_bootstrap_errors(login_user_form.email, class="form-control") }}
            {{ render_field_with_bootstrap_errors(login_user_form.password, class="form-control") }}
            {{ render_field_with_errors(login_user_form.remember, class="checkbox") }}
            {{ render_field(login_user_form.next) }}
            {{ render_field(login_user_form.submit, class_="btn btn-primary") }}
        </form>
    </div>
</div>

{# {% include "security/_menu.html" %} #}

{% endblock %}
