{% extends "layout.html" %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "macros/_security_macros.html" import render_field_with_bootstrap_errors %}
{% include "security/_messages.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <h1>{{ _('Register') }}</h1>

        <form
            action="{{ url_for_security('register') }}"
            method="POST"
            name="register_user_form"
        >
            {{ register_user_form.hidden_tag() }}
            {{ render_field_with_bootstrap_errors(register_user_form.email, class="form-control") }}
            {{ render_field_with_bootstrap_errors(register_user_form.password, class="form-control") }}

            {% if register_user_form.password_confirm %}
                {{ render_field_with_bootstrap_errors(register_user_form.password_confirm, class="form-control") }}
            {% endif %}

            {{ render_field(register_user_form.submit, class_="btn btn-primary") }}
        </form>

        {% include "security/_menu.html" %}
    </div>
</div>

{% endblock %}
