{% extends "layout.html" %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <h1>{{ _('Reset password') }}</h1>
        <form
            action="{{ url_for_security('reset_password', token=reset_password_token) }}"
            method="POST"
            name="reset_password_form"
        >
            {{ reset_password_form.hidden_tag() }}
            {{ render_field_with_bootstrap_errors(reset_password_form.password, class="form-control") }}
            {{ render_field_with_bootstrap_errors(reset_password_form.password_confirm, class="form-control") }}
            {{ render_field(reset_password_form.submit, class_="btn btn-primary") }}
        </form>
        {% include "security/_menu.html" %}
    </div>
</div>

{% endblock %}
