{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h1>401 - Unauthorised</h1>
        <p>
            You must login to be able to use that resource
        </p>
    </div>
</div>
{% endblock %}