{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h1>404 - Oops</h1>
        <p>We can't seem to find the page you are looking for.</p>
    </div>
</div>
{% endblock %}