{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h1>500 - Oops</h1>
        <p>Unfortunately we seem to be having problems right now.</p>
    </div>
</div>
{% endblock %}