<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - My Flask Application</title>

    <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/dist/css/bootstrap.css" />

    <link rel="stylesheet" type="text/css" href="/static/content/site.css" /> -->

    {% block custom_css %}{% endblock %}

    <script src="/static/vendor/modernizr/modernizr.js"></script>
</head>

<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ url_for('home.home') }}" class="navbar-brand">Application name</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home.about') }}">About</a></li>
                    <li><a href="{{ url_for('home.contact') }}">Contact</a></li>
                </ul>
            </div>

            {% block user_info %}{% endblock %}
        </div>
    </div>

    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - My Flask Application</p>
        </footer>
    </div>

    <script src="/static/vendor/jquery/dist/jquery.js"></script>
    <script src="/static/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/static/vendor/respond/dest/respond.src.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
